.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-hero {
  width: 100%;
  display: flex;
  max-width: 1320px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  padding-right: var(--dl-space-space-unitandahalfunit);
  justify-content: center;
}
.home-container1 {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1320px;
  min-height: 85vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-card {
  flex: 0 0 auto;
  width: 60%;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  z-index: 1;
  align-self: flex-start;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: column;
  backdrop-filter: saturate(200%) blur(30px);
  background-color: hsla(0,0%,100%,.8);
}
.home-container2 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-text {
  color: var(--dl-color-secondary-700);
  width: 100%;
  height: 80%;
  font-size: 5em;
  text-align: left;
}
.home-text1 {
  font-size: 3.4rem;
  text-align: left;
  line-height: 1;
  margin-bottom: 24px;
  background-image: linear-gradient(310deg,#7928ca,#ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-text2 {
  color: var(--dl-color-secondary-600);
  font-size: 1.3rem;
  line-height: 1;
  margin-right: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-tripleunit);
}
.home-container3 {
  display: flex;
  margin-top: var(--dl-space-space-unitandahalfunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-container4 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-image {
  top: 0px;
  left: auto;
  right: 0px;
  width: 50%;
  bottom: 0px;
  height: 80vh;
  position: absolute;
  object-fit: cover;
  object-position: right;
  border-bottom-left-radius: 10rem;
}
.home-testimonials {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(310deg,#7928ca,#ff0080);
}
.home-image1 {
  top: auto;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.home-contaier {
  width: 100%;
  height: 753px;
  display: flex;
  max-width: 1320px;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
}
.home-container5 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-container6 {
  top: 5px;
  left: 47px;
  width: 482px;
  height: 659px;
  display: flex;
  position: absolute;
  align-self: flex-start;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url("/playground_assets/hoja%201-1500w.png");
  background-position: center;
}
.home-container7 {
  top: 15px;
  right: -7px;
  width: 40%;
  height: 640px;
  display: flex;
  position: absolute;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url("/playground_assets/hoja%202-600w.png");
  background-position: center;
}
@media(max-width: 1200px) {
  .home-container1 {
    height: 797px;
  }
  .home-card {
    top: 128px;
    left: -5px;
    height: 398px;
    position: absolute;
    align-self: flex-start;
  }
  .home-text {
    color: var(--dl-color-secondary-700);
    width: 383px;
    height: 79px;
    font-size: 3.5em;
    margin-right: 11px;
    padding-right: 0px;
  }
  .home-text1 {
    width: 637px;
    align-self: flex-start;
    text-align: left;
  }
  .home-text2 {
    text-align: left;
  }
  .home-contaier {
    height: 642px;
    padding-top: 0px;
  }
  .home-container5 {
    height: 602px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .home-container6 {
    top: -15px;
    left: 34px;
    width: 40wv;
    height: 100%;
  }
  .home-container7 {
    top: -17px;
    right: 52px;
    width: 40%;
    height: 100%;
    padding-left: 0px;
  }
}
@media(max-width: 479px) {
  .home-text1 {
    width: 264px;
  }
}
